.kitonnapanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "weather phone map map course"
    "weather screen screen screen course"
    "weather screen screen screen speed"
    "weather buttons buttons buttons compas";
    width: 100%;
}

.weather { grid-area: weather;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: #C4C4C4;
  background-color: #ffffff;
  border-width: 10vw;
  border-color: #ffffff;
  width: 288vw;
  height: 1152vw;
}

.phone { grid-area: phone;
  background: #C4C4C4;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
width: 288vw;
height: 288vw;}

.map { grid-area: map;
  background: #C4C4C4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
width: 576vw;
height: 288vw;}

.course { grid-area: course;
  background: #C4C4C4;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
width: 288vw;
height: 288vw;}

.screen { grid-area: screen;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
width: 864vw;
height: 576vh;}

.speed { grid-area: speed;
  background: #C4C4C4;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
 width: 288vw;
height: 288vw;}

.compas { grid-area: compas;
  background: #C4C4C4;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
width: 288vw;
height: 288vw;}

.buttons { grid-area: buttons;
  background: #C4C4C4;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
width: 864vw;
height: 288vw;}
