body {
  background: #001EFF;
  animation: bodyend 1.8s linear infinite;
  animation-play-state: paused;
  overflow-x: hidden;
}

@keyframes bodyend {
  0% {background: #001EFF;}
  49% {background: #001EFF;}
  50% {background: #FF5B01;}
  99% {background: #FF5B01;}
  100% {background: #001EFF;}
}

p{
  font-family: ProximaNova;
    color:#ffffff;
    font-size: 19px;
    text-transform: uppercase;
    animation: pEND 2s linear infinite;
    animation-play-state: paused;

  }
  @keyframes pEND {
    0% {color: #ffffff;}
    50% {color: #001EFF;}
    100% {color: #ffffff;}
  }

  .phonetext{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 45px;
    padding-left: 34%;
    padding-top: 10%;
    cursor: pointer;
  }
  .phonetext:hover{
    color: #FF5B01;
  }
  .alarm, .alarm2{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  background-color:  #FF5B01;
  cursor: pointer;
  animation: alarmend 10s ease-in-out infinite;
  animation-play-state: paused;
  }

  @keyframes alarmend {
  0% {}
  25% {left:-9%;  top:-9%; background-color: #ffffff; transform:rotate(20deg);}
  80% {left:3%;  top:2%; background-color: #FF5B01;transform:rotate(-70deg);}
  100% {left:-9%;  top:5%; background-color: #ffffff; transform:rotate(10deg);}
  }


  .t143{
    color:#002EAB;
  }
  /* .alarmtext, .alarmtext2{
    font-size: 22px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    animation: alarmtextend 15s ease-in-out infinite;
    animation-play-state: paused;
  } */
  @keyframes alarmtextend {
  0% {}
  25% {color: #FF5B01; transform:rotate(20deg);}
  80% {color: #ffffff;transform:rotate(-70deg);}
  100% {color: #FF5B01; transform:rotate(10deg);}
  }

.kitonnapanel {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2.7% 1.4%;
  grid-auto-flow: row;
  grid-template-areas:
    "weather phone map map course"
    "weather screen screen screen course"
    "weather screen screen screen speed"
    "weather buttons buttons buttons compas";
    width: 100%;
    height: 100%;
    margin: 1% 1% 1% 1%;

}


.weather { grid-area: weather;
position: relative;

border: 1px solid #ffffff;
/* height: 100%; */
/* height: 77.1vw; */
animation: weatherend 15s infinite alternate ease;
animation-play-state: paused;
}


@keyframes weatherend {
0% {}
25% {transform:rotate(50deg);}
50% {transform:rotate(-120deg);}
100% { transform:rotate(300deg);}
}


.phone { grid-area: phone;
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5% 5%;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9"
    "# 0 *";
  animation: phoneend 25s infinite alternate ease;
  animation-play-state: paused;
}

@keyframes phoneend {
0% {}
25% {transform:rotate(-300deg);}
80% {transform:rotate(120deg);}
100% { transform:rotate(100deg);}
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .net, .zero, .star   {
  border: 1px solid #ffffff;
  animation: phoneend2 25s infinite alternate ease;
  animation-play-state: paused;
}
@keyframes phoneend2 {
0% {}
25% {transform:rotate(20deg);}
80% {transform:rotate(-70deg);}
100% { transform:rotate(10deg);}
}

#callone{
  position: absolute;
   left: -50%;
}
#calltwo{
  position: absolute;
   left: -15%;
}
#callthree{
  position: absolute;
   left: 20%;
}
#callfour{
  position: absolute;
   left: -50%;
   top: 28%;
}
#callfive{
  position: absolute;
    left: -15%;
   top: 28%;
}
#callsix{
  position: absolute;
  left: 20%;
   top: 28%;
}
#callseven{
  position: absolute;
  left: -50%;
   top: 53%;
}
#calleight{
  position: absolute;
   left: -15%;
   top: 53%;
}
#callnine{
  position: absolute;
   left: 4%;
   top: 53%;
}
#callnet{
  position: absolute;
  left: -50%;
  top: 80%;
}
#callzero{
  position: absolute;
   left: -15%;
   top: 80%;
}
#callstar{
  position: absolute;
   left: 20%;
    top: 80%;
}
#callone  .popup {
       position: absolute;
       font-family: ProximaNova;
       font-size: 2vw;
       color:#ffffff;
       left: 150px;
       width: 100px;
       text-align: center;
       opacity: 0;

     -webkit-animation: popup 0.5s ease-in;
        -moz-animation: popup 0.5s ease-in;
         -ms-animation: popup 0.5s ease-in;
          -o-animation: popup 0.5s ease-in;
             animation: popup 0.5s ease-in;
   }

   @-webkit-keyframes popup {
     0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
     10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
     50% 	{ opacity: 1; }
     100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
   }

   @keyframes popup {
     0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
     10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
     50% 	{ opacity: 1; }
     100%	{ transform: translateY(-60px); opacity: 0; }
   }

#calltwo  .popup1 {
          position: absolute;
          font-family: ProximaNova;
          font-size: 2vw;
          color:#ffffff;
          left: 150px;
          width: 100px;
          text-align: center;
          opacity: 0;

        -webkit-animation: popup1 0.5s ease-in;
           -moz-animation: popup1 0.5s ease-in;
            -ms-animation: popup1 0.5s ease-in;
             -o-animation: popup1 0.5s ease-in;
                animation: popup1 0.5s ease-in;
  }


  @-webkit-keyframes popup1 {
    0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
    10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
    50% 	{ opacity: 1; }
    100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
  }

  @keyframes popup1 {
    0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
    10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
    50% 	{ opacity: 1; }
    100%	{ transform: translateY(-60px); opacity: 0; }
  }
  #callthree  .popup2 {
            position: absolute;
            font-family: ProximaNova;
            font-size: 2vw;
            color:#ffffff;
            left: 150px;
            width: 100px;
            text-align: center;
            opacity: 0;

          -webkit-animation: popup1 0.5s ease-in;
             -moz-animation: popup1 0.5s ease-in;
              -ms-animation: popup1 0.5s ease-in;
               -o-animation: popup1 0.5s ease-in;
                  animation: popup1 0.5s ease-in;
    }


    @-webkit-keyframes popup2 {
      0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
      10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
      50% 	{ opacity: 1; }
      100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
    }

    @keyframes popup2 {
      0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
      10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
      50% 	{ opacity: 1; }
      100%	{ transform: translateY(-60px); opacity: 0; }
    }

    #callfour  .popup3 {
              position: absolute;
              font-family: ProximaNova;
              font-size: 2vw;
              color:#ffffff;
              left: 150px;
              width: 100px;
              text-align: center;
              opacity: 0;

            -webkit-animation: popup1 0.5s ease-in;
               -moz-animation: popup1 0.5s ease-in;
                -ms-animation: popup1 0.5s ease-in;
                 -o-animation: popup1 0.5s ease-in;
                    animation: popup1 0.5s ease-in;
      }


      @-webkit-keyframes popup3 {
        0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
        10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
        50% 	{ opacity: 1; }
        100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
      }

      @keyframes popup3 {
        0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
        10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
        50% 	{ opacity: 1; }
        100%	{ transform: translateY(-60px); opacity: 0; }
      }
      #callfive  .popup4 {
                position: absolute;
                font-family: ProximaNova;
                font-size: 2vw;
                color:#ffffff;
                left: 150px;
                width: 100px;
                text-align: center;
                opacity: 0;

              -webkit-animation: popup1 0.5s ease-in;
                 -moz-animation: popup1 0.5s ease-in;
                  -ms-animation: popup1 0.5s ease-in;
                   -o-animation: popup1 0.5s ease-in;
                      animation: popup1 0.5s ease-in;
        }


        @-webkit-keyframes popup4 {
          0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
          10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
          50% 	{ opacity: 1; }
          100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
        }

        @keyframes popup4 {
          0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
          10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
          50% 	{ opacity: 1; }
          100%	{ transform: translateY(-60px); opacity: 0; }
        }
        #callsix  .popup5 {
                  position: absolute;
                  font-family: ProximaNova;
                  font-size: 2vw;
                  color:#ffffff;
                  left: 150px;
                  width: 100px;
                  text-align: center;
                  opacity: 0;

                -webkit-animation: popup1 0.5s ease-in;
                   -moz-animation: popup1 0.5s ease-in;
                    -ms-animation: popup1 0.5s ease-in;
                     -o-animation: popup1 0.5s ease-in;
                        animation: popup1 0.5s ease-in;
          }


          @-webkit-keyframes popup5 {
            0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
            10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
            50% 	{ opacity: 1; }
            100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
          }

          @keyframes popup5 {
            0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
            10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
            50% 	{ opacity: 1; }
            100%	{ transform: translateY(-60px); opacity: 0; }
          }
          #callseven  .popup6 {
                    position: absolute;
                    font-family: ProximaNova;
                    font-size: 2vw;
                    color:#ffffff;
                    left: 150px;
                    width: 100px;
                    text-align: center;
                    opacity: 0;

                  -webkit-animation: popup1 0.5s ease-in;
                     -moz-animation: popup1 0.5s ease-in;
                      -ms-animation: popup1 0.5s ease-in;
                       -o-animation: popup1 0.5s ease-in;
                          animation: popup1 0.5s ease-in;
            }


            @-webkit-keyframes popup6 {
              0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
              10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
              50% 	{ opacity: 1; }
              100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
            }

            @keyframes popup6 {
              0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
              10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
              50% 	{ opacity: 1; }
              100%	{ transform: translateY(-60px); opacity: 0; }
            }

            #calleight  .popup7 {
                      position: absolute;
                      font-family: ProximaNova;
                      font-size: 2vw;
                      color:#ffffff;
                      left: 150px;
                      width: 100px;
                      text-align: center;
                      opacity: 0;

                    -webkit-animation: popup1 0.5s ease-in;
                       -moz-animation: popup1 0.5s ease-in;
                        -ms-animation: popup1 0.5s ease-in;
                         -o-animation: popup1 0.5s ease-in;
                            animation: popup1 0.5s ease-in;
              }


              @-webkit-keyframes popup7 {
                0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
                10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
                50% 	{ opacity: 1; }
                100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
              }

              @keyframes popup7 {
                0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
                10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
                50% 	{ opacity: 1; }
                100%	{ transform: translateY(-60px); opacity: 0; }
              }
              #callnine  .popup8 {
                        position: absolute;
                        font-family: ProximaNova;
                        font-size: 2vw;
                        color:#ffffff;
                        left: 150px;
                        width: 100px;
                        text-align: center;
                        opacity: 0;

                      -webkit-animation: popup1 0.5s ease-in;
                         -moz-animation: popup1 0.5s ease-in;
                          -ms-animation: popup1 0.5s ease-in;
                           -o-animation: popup1 0.5s ease-in;
                              animation: popup1 0.5s ease-in;
                }


                @-webkit-keyframes popup8 {
                  0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
                  10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
                  50% 	{ opacity: 1; }
                  100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
                }

                @keyframes popup8 {
                  0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
                  10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
                  50% 	{ opacity: 1; }
                  100%	{ transform: translateY(-60px); opacity: 0; }
                }
                #callnet  .popup11 {
                          position: absolute;
                          font-family: ProximaNova;
                          font-size: 2vw;
                          color:#ffffff;
                          left: 150px;
                          width: 100px;
                          text-align: center;
                          opacity: 0;

                        -webkit-animation: popup1 0.5s ease-in;
                           -moz-animation: popup1 0.5s ease-in;
                            -ms-animation: popup1 0.5s ease-in;
                             -o-animation: popup1 0.5s ease-in;
                                animation: popup1 0.5s ease-in;
                  }


                  @-webkit-keyframes popup11 {
                    0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
                    10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
                    50% 	{ opacity: 1; }
                    100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
                  }

                  @keyframes popup11 {
                    0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
                    10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
                    50% 	{ opacity: 1; }
                    100%	{ transform: translateY(-60px); opacity: 0; }
                  }
                  #callzero  .popup12 {
                            position: absolute;
                            font-family: ProximaNova;
                            font-size: 2vw;
                            color:#ffffff;
                            left: 150px;
                            width: 100px;
                            text-align: center;
                            opacity: 0;

                          -webkit-animation: popup1 0.5s ease-in;
                             -moz-animation: popup1 0.5s ease-in;
                              -ms-animation: popup1 0.5s ease-in;
                               -o-animation: popup1 0.5s ease-in;
                                  animation: popup1 0.5s ease-in;
                    }


                    @-webkit-keyframes popup12 {
                      0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
                      10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
                      50% 	{ opacity: 1; }
                      100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
                    }

                    @keyframes popup12 {
                      0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
                      10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
                      50% 	{ opacity: 1; }
                      100%	{ transform: translateY(-60px); opacity: 0; }
                    }
                    #callstar  .popup10 {
                              position: absolute;
                              font-family: ProximaNova;
                              font-size: 4vw;
                              color:#ffffff;
                              left: 150px;
                              width: 100px;
                              text-align: center;
                              opacity: 0;

                            -webkit-animation: popup1 0.5s ease-in;
                               -moz-animation: popup1 0.5s ease-in;
                                -ms-animation: popup1 0.5s ease-in;
                                 -o-animation: popup1 0.5s ease-in;
                                    animation: popup1 0.5s ease-in;
                      }


                      @-webkit-keyframes popup10 {
                        0% 		{ -webkit-transform: translateY(0px) scale(0.5); opacity: 0.5; }
                        10% 	{ -webkit-transform: translateY(0px) scale(1); opacity: 1;   }
                        50% 	{ opacity: 1; }
                        100%	{ -webkit-transform: translateY(-60px); opacity: 0; }
                      }

                      @keyframes popup10 {
                        0% 		{ transform: translateY(0px) scale(0.5); opacity: 0.5; }
                        10% 	{ transform: translateY(0px) scale(1); opacity: 1;   }
                        50% 	{ opacity: 1; }
                        100%	{ transform: translateY(-60px); opacity: 0; }
                      }

.map { grid-area: map;
  position: relative;

  border: 1px solid #ffffff;
  height: 18.3vw;
  background-image: url(../img/map.svg);
  background-repeat: no-repeat;
  background-size: 137%;
  background-position: center;
  animation: mapend 25s infinite alternate ease;
  animation-play-state: paused;
}


@keyframes mapend {
0% {}
25% {opacity: 0%; transform:rotate(10deg);}
50% {transform:rotate(-180deg);}
100% {opacity: 100%; transform:rotate(-20deg);}
}


.redcircle{
  width: 2.5%;
  height: 5%;
  border-radius: 50%;
  background-color: #FF5B01;
  display: inline-block;
  margin: 1%;
}


.course { grid-area: course;
  position: relative;

  border: 1px solid #ffffff;
  height: 100%;
  background-image: url(../img/course.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 77%;
  animation: courseend 25s infinite alternate ease;
  animation-play-state: paused;
}

@keyframes courseend {
0% {}
20% {transform:rotate(10deg);}
80% {transform:rotate(180deg);}
100% { transform:rotate(-240deg);}
}




.GSNASA11{
  position: absolute;
   left: 11%;
   top: 7%;
  animation: GSNASA11end 20s ease-in-out infinite;
  animation-play-state: paused;

}
@keyframes GSNASA11end {
  0% {}
  25% {left:-80%;  top:-20%;}
  50% {left:-2%;  top:-90%; transform:rotate(150deg);}
  100% {left:80%;  top:-30%; transform:rotate(2deg);}
}
.p125{
   left: 11%;
   top: 11%;
  position: absolute;
  animation: p125end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes p125end {
  0% {}
  25% {left:-30%;  top:-4%; transform:rotate(30deg)}
  50% {left:40%;  top:-40%;}
  100% {left:20%;  top:-90%; transform:rotate(-180deg);}
}
.LOC19{
  position: absolute;
   left: 68%;
   top: 26%;
  animation: LOC19end 9s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes LOC19end {
  0% {}
  25% {left:-3%;  top:-90%; transform:rotate(30deg)}
  50% {left:-50%;  top:19%; transform:rotate(0deg)}
  100% {left:0%;  top:-90%; transform:rotate(-180deg);}
}
.loc18{
  position: absolute;
  left: 41%;
   top: 28%;
  animation: loc18end 5s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes loc18end {
  0% {}
  25% {left:-3%;  top:0%; transform:rotate(30deg)}
  50% {left:33%;  top:10%; transform:rotate(-30deg)}
  60% {left:0%;  top:19%; transform:rotate(-100deg)}
  100% {left:0%;  top:-90%; transform:rotate(20deg);}
}
.loc17{
  position: absolute;
  left: 23%;
   top: 36%;;
  animation: loc17end 24s ease-in infinite ;
  animation-play-state: paused;
}
@keyframes loc17end {
  0% {}
  25% {left:-3%;  top:0%; transform:rotate(-100deg)}
  50% {left:-99%;  top:-89%; transform:rotate(4deg)}
  100% {left:40%;  top:-90%; transform:rotate(360deg);}
}
.loc16{
  position: absolute;
  left: 43%;
   top: 42%;
  animation: loc16end 14s ease-in-out infinite ;
  animation-play-state: paused;
}
@keyframes loc16end {
  0% {}
  15% {left:-3%;  top:0%; transform:rotate(-100deg)}
  50% {left:-99%;  top:-89%; transform:rotate(4deg)}
  70% {left:-59%;  top:-82%; transform:rotate(-230deg)}
  100% {left:40%;  top:-90%; transform:rotate(360deg);}
}

.loc15{
  position: absolute;
  left: 23%;
   top: 49%;
  animation: loc15end 24s ease-in-out infinite ;
  animation-play-state: paused;
}
@keyframes loc15end {
  0% {}
  25% {left:34%;  top:25%; transform:rotate(-10deg)}
  50% {left:-4%;  top:-44%; transform:rotate(20deg)}
  100% {left:10%;  top:-10%; transform:rotate(0deg);}
}
.loc14{
  position: absolute;
  left: 18%;
   top: 59%;
  animation: loc14end 24s ease-out infinite ;
  animation-play-state: paused;
}
@keyframes loc14end {
  0% {}
  25% {left:76%;  top:5%; transform:rotate(10deg)}
  50% {left:-40%;  top:-44%; transform:rotate(-200deg)}
  100% {left:0%;  top:-100%; transform:rotate(175deg);}
}
.loc13{
  position: absolute;
  left: 23%;
top: 70%;
  animation: loc13end 10s ease-out infinite ;
  animation-play-state: paused;
}
@keyframes loc13end {
  0% {}
  15% {left:76%;  top:5%; transform:rotate(-90deg)}
  70% {left:-40%;  top:-44%; transform:rotate(70deg)}
  100% {left:0%;  top:-100%; transform:rotate(-175deg);}
}
.Rtt{
  position: absolute;
  left: 63%;
   top: 87%;
  animation: number21end 10s ease-in-out infinite;
  animation-play-state: paused;
}
.locapp{
  position: absolute;
  left: 63%;
   top: 92%;
  animation: locappend 18s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes locappend {
  0% {}
  70% {left:10%;  top:-4%; transform:rotate(70deg)}
  100% {left:0%;  top:-10%; transform:rotate(-175deg);}
}

.screen { grid-area: screen;
  position: relative;

  border: 1px solid #ffffff;
  height: 100%;
  animation: screenend 18s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes screenend {
  0% {}
  20% {border-color:#001EFF; }
  50% {border-color:#7591FF; }
  55% {border-color:#001EFF; }
  70% {border-color:#001EFF; }
  80% {border-color:#ffffff; }
  100% {border-color:#7591FF;}
}


.screenimg{
  background-image: url(../img/screen.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 61%;
 height: 61%;
 position: absolute;
 top: 18%;
 left: 18%;
  animation: screenimgend 10s ease-in-out infinite ;
  animation-play-state: paused;
}
@keyframes screenimgend {
    0% {}
    25% {left:-10%;  top:-20%;}
    50% {left:-5%;  top:20%; transform:rotate(50deg);}
    90% {left:40%;  top:-60%; transform:rotate(700deg);}
    100% {transform:rotate(30deg);}
  }
.ifs21{
  position: absolute;
   left: 16%;
   top: 2%;
  animation: screenimgend 20s ease-in-out ;
  animation-play-state: paused;
}
.vor27{
  position: absolute;
  left: 46%;
   top: 2%;
  animation: number21end 10s ease-in-out infinite;
  animation-play-state: paused;
}
.maNgain {
  position: absolute;
  left: 81%;
  top: 2%;
  animation: vozend 5s infinite alternate ease;
  animation-play-state: paused;
}
.nADF1034{
  position: absolute;
   left: 16%;
   top: 81%;
  animation: vozend 20s infinite alternate ease;
  animation-play-state: paused;
}
.vor2 wrn2{
  position: absolute;
   left: 68%;
   top: 81%;
  animation: locappend 30s ease-in-out infinite;
  animation-play-state: paused;
}
.triangle{
  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  Width: 7%;
  height: 9%;
  position: absolute;
  top: 80%;
  left: 45%;
  cursor: grab;
  animation: triangleend 25s ease-in-out infinite;
  animation-play-state: paused;
}

  @keyframes triangleend {
     0% {transform:  scale(1);}
     50% {transform:  scale(10);}
     100% {transform:  scale(1);}
}

.number21{
  position: absolute;
  left: 19%;
  top: 50%;
  animation: number21end 20s ease-in-out infinite;
  animation-play-state: paused;}


@keyframes number21end {
  0% {}
  5% {color: #ffffff; left:10%;  top:8%;}
  49% {left:40%;  top:20%; transform:rotate(-50deg);}
  50% {color: #001EFF;left:5%;  top:100%; transform:rotate(50deg);}
  100% { color: #ffffff;left:60%;  top:50%; transform:rotate(350deg);}
}
.number22{
  position: absolute;
  top: 38%;
  left: 24%;

  /* animation: number22end 20s ease-in-out infinite;
  animation-play-state: paused; */
}
@keyframes number22end {
0% {}
5% {color: #ffffff; left:40%;  top:8%;}
49% {left:20%;  top:30%; transform:rotate(-20deg);}
50% {color: #001EFF;left:5%;  top:100%; transform:rotate(80deg);}
100% { color: #ffffff;left:60%;  top:50%; transform:rotate(150deg);}
}
.number23{
  position: absolute;
  left: 31%;
   top: 30%;
  animation: number23end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number23end {
0% {}
5% {color: #ffffff; left:20%;  top:10%;}
49% {left:40%;  top:-30%; transform:rotate(20deg);}
80% {color: #001EFF;left:5%;  top:100%; transform:rotate(-90deg);}
100% { color: #ffffff;left:60%;  top:50%; transform:rotate(10deg);}
}

.number24{
  position: absolute;
  left: 39%;
  top: 25%;
  animation: number24end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number24end {
0% {}
10% {color: #ffffff; left:20%;  top:10%;}
69% {left:10%;  top:-30%; transform:rotate(90deg);}
80% {color: #001EFF;left:50%;  top:100%; transform:rotate(-20deg);}
100% { color: #ffffff;left:-60%;  top:-20%; transform:rotate(100deg);}
}
.number25{
  position: absolute;
  left: 50%;
   top: 23%;
  animation: number25end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number25end {
0% {}
5% {color: #ffffff; left:-20%;  top:0%;}
49% {left:0%;  top:-90%; transform:rotate(80deg);}
55% {color: #001EFF;left:50%;  top:10%; transform:rotate(0deg);}
100% { color: #ffffff;left:0%;  top:-20%; transform:rotate(-100deg);}
}
.number26{
  position: absolute;
  left: 60%;
  top: 26%;
  animation: number26end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number26end {
0% {}
25% {color: #ffffff; left:-60%;  top:60%;}
49% {left:5%;  top:-90%; transform:rotate(-20deg);}
50% {color: #001EFF;left:50%;  top:70%; transform:rotate(16deg);}
100% { color: #ffffff;left:4%;  top:-20%; transform:rotate(0deg);}
}
.number27{
  position: absolute;
  left: 68%;
   top: 35%;
  animation: number27end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number27end {
0% {}
5% {color: #ffffff; left:-60%;  top:60%;}
49% {left:5%;  top:-90%; transform:rotate(-20deg);}
50% {color: #001EFF;left:50%;  top:70%; transform:rotate(16deg);}
100% { color: #ffffff;left:4%;  top:-20%; transform:rotate(0deg);}
}
.number28{
  position: absolute;
  left: 74%;
   top: 45%;
  animation: number28end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number28end {
0% {}
18% {color: #ffffff; left:-6%;  top:6%;}
30% {left:5%;  top:-90%; transform:rotate(-5deg);}
50% {color: #001EFF;left:50%;  top:70%; transform:rotate(160deg);}
70% {color: #001EFF;left:40%;  top:-4%; transform:rotate(-16deg);}
100% { color: #ffffff;left:4%;  top:-20%; transform:rotate(10deg);}
}
.number29{
  position: absolute;
  left: 78%;
  top: 57%;
  animation: number29end 20s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes number29end {
0% {}
25% {color: #ffffff; left:-6%;  top:6%;}
40% {left:5%;  top:-90%; transform:rotate(-50deg);}
50% {color: #001EFF;left:5%;  top:10%; transform:rotate(10deg);}
70% {color: #001EFF;left:20%;  top:-45%; transform:rotate(-10deg);}
100% { color: #ffffff;left:4%;  top:-2%; transform:rotate(100deg);}
}
.a5674c7{
  position: absolute;
  left: 32%;
  top: 39%;
  animation: number27end 10s linear infinite;
  animation-play-state: paused;
}
.a6f7ddc{
  position: absolute;
  left: 38%;
  top: 47%;
  animation: vozend 5s infinite alternate ease;
  animation-play-state: paused;
}
.anb617{
  position: absolute;
  left: 42%;
   top: 59%;
  animation: vozend 30s infinite alternate ease;
  animation-play-state: paused;
}
.a324789{
  position: absolute;
  left: 46%;
  top: 72%;
  animation: number24end 40s ease-in-out infinite;
  animation-play-state: paused;

}

.speed { grid-area: speed;
  position: relative;
  height: 100%;
  width: 45%;
/* animation: speedimgend2 5s infinite alternate ease;
animation-play-state: paused; */
}

.compas { grid-area: compas;
  position: relative;
  height: 90%;
  animation: loc17end 30s ease-in-out infinite;
  animation-play-state: paused;
}
.compasimg{
  position: absolute;
  height: 100%;
}
.arrowimg{
  position: absolute;
  left: 31%;
   top: 22%;
  animation: spin 3s infinite alternate ease-out;
}
@keyframes spin {
   0% {transform:  rotate(0) scale(1);}
   100% {transform:  rotate(360deg) scale(0.9);}
 }
.arrowspeedimg{
  position: absolute;
  height: 30%;
  width: 45%;
  left: 78%;
  top: 21%;
  animation: spin2 5s infinite alternate ease;
  transform-origin: center bottom;
}

@keyframes spin2 {
 0% {transform:  rotate(130deg);}
   100% {transform:  rotate(-180deg);}
}

.speedimg{
  position: absolute;
  height: 90%;
  animation: speedimgend 15s infinite alternate ease;
  animation-play-state: paused;
  transform-origin: center bottom;
}

@keyframes speedimgend {
  0% {}
  25% {left:-10%;  top:-20%;}
  50% {left:-5%;  top:20%; transform:rotate(50deg);}
  100% {left:40%;  top:-60%; transform:rotate(700deg);}
}


.longbar{
  position: absolute;
  background-image: url(../img/longbar.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  left: 16%;
  width: 47%;
  height: 12%;
  top: 6%;
}

.dropbar{
  background-image: url(../img/bartear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 49.5%;
    width: 7%;
    height: 100%;
  position: absolute;
  top: 40%;
  /* animation: speedimgend2 5s infinite alternate ease;
  animation-play-state: paused;
  animation: loc17end 10s ease-in-out infinite;
  animation-play-state: paused; */
}
.dropbar2{
  background-image: url(../img/bartear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52%;
width: 4%;
height: 13%;
  position: absolute;
  top: 18%;
  left: 6%;
  cursor: pointer;
  animation: loc13end 10s ease-in-out infinite;
  animation-play-state: paused;
}
.dropbar3{
  background-image: url(../img/bartear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52%;
width: 4%;
height: 13%;
  position: absolute;
  top: 68%;
  left: 6%;
  cursor: pointer;
  animation: loc15end 20s ease-in-out infinite;
  animation-play-state: paused;
}



.spin1img{
  position: absolute;
  width: 115%;
  top: 6%;
  left: 21%;
  display: inline-block;
  animation: number22end 20s ease-in-out infinite;
  animation-play-state: paused;
}
.spin2img{
  position: absolute;
  width: 115%;
  top: 56%;
  left: 21%;
  display: inline-block;
  animation: number29end 20s ease-in-out infinite;
  animation-play-state: paused;
}

.spin{
position: absolute;
width: 10%;
height: 100%;
display: inline-block;
}
.buttons { grid-area: buttons;
  border: 1px solid #ffffff;
  height: 100%;
  position: relative;

  animation: buttonsend 25s infinite alternate ease;
  animation-play-state: paused;

}

@keyframes buttonsend {
0% {}
10% {transform:rotate(30deg);}
40% {transform:rotate(-10deg);}
60% {transform:rotate(-100deg);}
100% { transform:rotate(200deg);}
}



}
@keyframes circlebuttonsend {
  0% {}
  15% { transform:rotate(10deg);}
  70% {transform:rotate(-180deg);}
  100% { transform:rotate(-20deg);}
}

.circle1img{
    width: 3%;
    height: 9.3%;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    animation: circlemainend 18s ease-in-out infinite;
    animation-play-state: paused;
}

.c1{
  left: 16%;
  top: 57%;
}
.c2{
  left: 21%;
  top: 57%;
}
.c3{
  left: 31%;
  top: 57%;
}
.c4{
  left: 26%;
  top: 57%;
}
.c5{
  left: 16%;
  top: 69.5%;
}
.c6{
  left: 21%;
  top: 69.5%;
}
.c7{
  left: 26%;
  top: 69.5%;
}
.c8{
  left: 31%;
  top: 69.5%;
}
.c9{
  left: 16%;
  top: 82%;
}
.c10{
  left: 21%;
  top: 82%;
}
.c11{
  left: 26%;
  top: 82%;
}
.c12{
  left: 31%;
  top: 82%;
}



.triangle:hover, .inbar:hover {
   transform: scale(1.2);
 }



 .circle1img:hover, .square:hover {
      background-color: #7591FF;
      border-color: #7591FF;}

  .inbar:hover, .inlever:hover {
       background-color: #FF5B01;
       }




.square{
  width: 4%;
  height: 14%;
  position: absolute;
  display: inline-block;
  border: 1px solid #ffffff;
  cursor: pointer;
  animation: circlebuttonsend 25s infinite alternate ease;
  animation-play-state: paused;
}
.s1{

  left: 41%;
    top: 57%;
}
.s2{
  left: 49%;
top: 57%;
}
.s3{
  left: 57%;
  top: 57%;
}
.s4{
  left: 41%;
  top: 79%;
}
.s5{
  left: 49%;
  top: 79%;
}
.s6{
    left: 57%;
  top: 79%;
}
.bar{
  width: 10%;
  height: 90%;
  position: relative;
  display: inline-block;
  margin: 0.4%;
  border: 1px solid #ffffff;
  animation: speedimgend2 5s infinite alternate ease;
  animation-play-state: paused;
}
.verticalbar{
  position: absolute;
  left: 66%;
  width: 25%;
  height: 93%;
  top: 7%;
  animation: verticalbarend 25s infinite alternate ease;
  animation-play-state: paused;
 }
@keyframes verticalbarend {
  0% {}
  25% { transform:rotate(10deg);}
  50% {transform:rotate(-180deg);}
  100% {transform:rotate(-20deg);}
}
.inbar{
  height: 5%;
  background-color: white;
  cursor: ns-resize;
  animation: inbarend 15s infinite alternate ease;
  animation-play-state: paused;
}
@keyframes inbarend {
  0% {}
  30% {opacity: 0%; transform:rotate(100deg);}
  40% {opacity: 0%; transform:rotate(200deg);}
  50% {opacity: 100%;transform:rotate(-360deg);}
  70% {opacity: 100%;transform:rotate(-60deg);}
  100% {opacity: 0%;transform:rotate(-20deg);}
}
.lever{
  width: 70%;
  height: 90%;
  position: absolute;
  border: 1px solid #ffffff;
  left: 54%;
  top: 0%;
  animation: leverend 10s infinite alternate ease;
  animation-play-state: paused;
}
@keyframes leverend {
  0% {}
  5% {opacity: 0%; transform:rotate(40deg);}
  40% {opacity: 100%;transform:rotate(-60deg);}
  100% {opacity: 0%;transform:rotate(-100deg);}
}
.leverimg{
  position: absolute;
  width: 31%;
  height: 85%;
  left: 33%;
  top: 7%;
}
.inlever{
  height: 10%;
  width: 80%;
  background-color: white;
  position: absolute;
  left: 10%;
  top: 24%;
  cursor: ns-resize;
}
.voz{
  position: absolute;
  top: 0%;
  left: 70%;
  animation: vozend 5s infinite alternate ease;
  animation-play-state: paused;
}
@keyframes vozend {
 0% {transform:  rotate(0deg);}
   100% {transform:  rotate(-180deg);}
}
.white{
  background-color: white;
}
