body {
  background: #001EFF;
}
p{
  font-family: ProximaNova;
    color:#ffffff;
    font-size: 19px;
    text-transform: uppercase;
  }
  .phonetext{
    font-family: ProximaNova;
    color:#ffffff;
    font-size: 45px;
    padding-left: 34%;
    padding-top: 10%;
  }

.kitonnapanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2.7% 1.4%;
  grid-auto-flow: row;
  grid-template-areas:
    "weather phone map map course"
    "weather screen screen screen course"
    "weather screen screen screen speed"
    "weather buttons buttons buttons compas";
    width: 98vw;
    height: 98vh;
    margin: 2vh 2vh 2vh 2vh
}

.weather { grid-area: weather;
border: 1px solid #ffffff;
height: 100%;
}

.phone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5% 5%;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9"
    "# 0 *";
  grid-area: phone;
}
.one {
  border: 1px solid #ffffff;
}
.two {
  border: 1px solid #ffffff;
}
.three {
  border: 1px solid #ffffff;
}
.four {
  border: 1px solid #ffffff;
}
.five {
  border: 1px solid #ffffff;
}
.six {
  border: 1px solid #ffffff;
}
.seven {
  border: 1px solid #ffffff;
}
.eight {
  border: 1px solid #ffffff;
}
.nine {
  border: 1px solid #ffffff;
}
.net {
  border: 1px solid #ffffff;
}
.zero {
  border: 1px solid #ffffff;
}
.star {
  border: 1px solid #ffffff;
}

.map { grid-area: map;
  border: 1px solid #ffffff;
  height: 18.3vw;
  background-image: url(../img/map.svg);
  background-repeat: no-repeat;
  background-size: 137%;
  background-position: center;
}
.mapimg{
  /* width: 100%; */
}

.course { grid-area: course;
  border: 1px solid #ffffff;
  height: 36.6vw;
}
.courseimg{
  position: absolute;
  margin-left:3%;
  margin-top: 7%;
}
.GSNASA11{
  position: absolute;
  margin-left:3%;
  margin-top: 1%;
}
.p125{
  margin-left:3%;
  margin-top: 2%;
  position: absolute;
}

.screen { grid-area: screen;
  border: 1px solid #ffffff;
  height: 36.6vw;
}
.ifs21{
  margin-left: 16%;
  margin-top: 2%;
}
.screenimg{}

.speed { grid-area: speed;

}

.compas { grid-area: compas;

}
.arrowimg{
  position: absolute;
  margin-left: 5%;
  margin-top: 3%;
}
.arrowspeedimg{
  position: absolute;
  margin-left: 7.6%;
  margin-top: 4%;
}
.longbarimg{
  position: absolute;
  left: 10vw;
  width: 45%;
  top: 3.5vw;
}
.spin1img{
  position: absolute;
  width: 12%;
  left: 1vw;
}
.spin2img{
  position: absolute;
  width: 12%;
  top: 12vw;
  left: 1vw;
}
.buttons { grid-area: buttons;
  border: 1px solid #ffffff;
  height: 20vw;
  position: relative;
}
.circlemain{
  position: absolute;
  left: 9.5vw;
  top: 9.5vw;

}
.circlebuttons{
  width: 30vw;
  height: 3vw;
  margin-top: 1%;
}

.circle1img{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: inline-block;
    margin: 1%;
}

.circle1img:hover {
  background-color: white;
}
.squarebuttons{
  position: relative;
  left: 23vw;
  top: 6vw;
}
.square{
  width: 43px;
  height: 43px;
  display: inline-block;
  margin: 2.5% 1% 1% 1%;
  border: 1px solid #ffffff;
}
.bar{
  width: 18px;
  height: 219px;
  display: inline-block;
  margin: 0.4%;
  border: 1px solid #ffffff;
}
.verticalbar{
  position: relative;
  left: 38vw;
  top: -10.5vw;
}
.inbar{
  height: 8px;
  background-color: white;
}
.lever{
  position: absolute;
  left: 38vw;
  top: 20vw;
}
