@import "reset.css";
@import "content.css";
@import "responsive.css";


@font-face {
font-family: "ProximaNova";
src: url("../font/ProximaNova-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
